<html>
    <head>
        {% block scripts %}
        {% endblock %}
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
        <div style="display:inline;">
            LOGGED IN AS {{ username }}
        </div>
        <a href="{% url auth_logout %}" style="float:right;"> Logout </a>
        </div> <!-- End header -->

        <div class="content">
            {% block content %}
            {% endblock %}
        </div> <!-- End content -->
    </body>
</html>
